.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-image: url('../Components/about.png');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(0.2);
    color: #FFF;
    font-size: larger;
}

.abouttext{
    border-radius: 20px;
    box-shadow: 0px 0px 10px grey;
    backdrop-filter: brightness(0.2);
    font-size: larger;
    padding: 20px;
    margin: 20px;
    max-width: 60vw;
}

.submissionhead{
    margin-top: 10px;
    padding: 10px;
    color: rgb(23, 163, 23);
    border-radius: 10px;
    /* color: #FFF; */
    font-weight: 800;
    font-size: 150%;
    background-color: #FFF;
}

.submissiontext{
    padding: 5px;
    /* font-size: 20px; */
    /* padding: 5vh; */
    /* text-align: center; */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.head{
    background-image: linear-gradient(to right, #FFF, #AAA);
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}

.header{
    display: flex;
    flex-direction: row;
    color: #e6f705;
    font-size: 20px;
    margin:5vh;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 40vw;
    min-width: 500px;
    background-color: rgb(6, 6, 161);
    padding:2vh;
    align-items: center;
    box-shadow: 0px 0px 20px grey;
    border-radius: 20px;
}

.logo{
    /* padding: 2vh; */
    border-radius: 20px;
    margin:2vh;
}

.about1{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5vh;
    font-size: 150%;
    /* border-top: 1px solid black; */
    margin: 10px;
}

.abouttext1{
    padding-left: 5vw;
    padding-right: 10vw;
}

.abouthead{
    font-weight: 600;
    font-size: 150%;
    margin: 10px;
    border: none;
    text-align: left;
    background-color: #FFF;
}

@media(max-width: 678px){
    .about{
        height: auto;
    }
    .abouttext{
        max-width: none;
    }
    .header{
        max-width: 95vw;
        min-width: 0px;
        flex-direction: column;
    }
    .logo{
        height: 200px;
    }
    .head{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}