html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    overflow-x: hidden;
}

.navbar1{
    margin: 0px;
    padding: 2vh;
    color: #FFF;
    font-weight: 600;
    background-color: rgb(17, 139, 17);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerhead{
    display: flex;
    flex-direction: row;
    padding: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.registerimg{
    max-height: 400px;
    max-width: 400px;
    min-height: 30vh;
    min-width: 20vw;
    border-radius: 10px;
    margin:10px;
    box-shadow: 0px 0px 10px black;
}

.form
{
    display: flex;
    flex-direction: column;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

.formt{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

input{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
    max-width: 300px;
}

.button{
    display: flex;
    padding: 5px;
    font-weight: 600;
    color: #FFF;
    background-color: #0400ff;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    align-self: center;
}

.head{
    margin-top: 10px;
    padding: 2vh;
    background-color: rgb(17, 139, 17);
    border-radius: 10px;
    color: #FFF;
    font-weight: 600;
    font-size: 150%;
}

.text{
    padding: 2vh;
    font-size: 150%;
    /* padding: 5vh; */
    /* text-align: center; */
}

.submissiontext{
    padding: 2vh;
    /* font-size: 20px; */
    /* padding: 5vh; */
    /* text-align: center; */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

th{
    text-align: center;
}

.register{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.registertext{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 99vw;
}

.registert{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    background-image: url('../Components/register.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.registerdetail{
    margin-bottom: 10px;
}

.registerheading{
    font-weight: 600;
    font-size: 120%;
    margin-bottom: 10px;
}

.salutation{
    padding-right: 20px;
}

.button1{
    display: flex;
    border-radius: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 10px grey;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    margin: 20px;
    font-size: large;
    background-image: linear-gradient(to right,#FFF, rgb(0, 225, 255));
    font-weight: 600;
    margin-left: 5vh;
}

@media(max-width:678px)
{
    .registerhead{
        flex-direction: column;
    }
    .registertext{
        flex-direction: column;
    }
    .salutation{
        padding-right: 10px;
    }
}