.input-container {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}
.display-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.subcontainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #EEE;
    border-radius: 10px;
    margin: 10px;
    font-size: large;
}

.subflex{
    display: flex;
    min-width: 80vw;
}

.info{
    display: flex;
    flex-direction: column;
    min-width: 50vw;
}

.author{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 5px solid #F00;
}

.head{
    font-size: larger;
    font-weight: 600;
    color: rgb(17, 139, 17);
}

.formcontent{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea{
    min-height: 200px;
    width: 40vw;
    padding: 10px;
    border-radius: 10px;
    font-size: 110%;
}

input::placeholder{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textarea::placeholder{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.del{
    display: flex;
    border-radius: 10px;
    background-color: rgb(184, 20, 20);
    color: #FFF;
    margin: 5px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.submit{
    display: flex;
    width: 100px;
    background-color: #00F;
    color: #FFF;
    border-radius: 10px;
    border: none;
}

.addauthor{
    background-color: #00F;
    color: #FFF;
    border-radius: 10px;
    border: none;
}

.alert{
    color: #F00;
}

@media(max-width:678px)
{
    .subcontainer{
        width: 100vw;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    .subflex{
        flex-direction: column;
        /* min-width: 95vw; */
    }
    .info{
        min-width: auto;
    }
    textarea{
        min-width: 90vw;
    }
    .author{
        margin-top: 20px;
    }
    #title, #keywords{
        width:80vw;
    }
}